.cart__item {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  margin: 20px 0;
}
.cart__item img {
  width: 100%;
}
.cart__item > * {
  display: flex;
  justify-content: center;
}
.cart__item button {
  border: none;
  background-color: transparent;
  margin: 0 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.cart__item svg {
  height: 1rem;
}
