.related {
  padding-bottom: 30px;
}

.related h2 {
  text-align: start;
}
.related ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 10px;
}
.related li {
  width: 100%;
}
.related li img {
  width: 100%;
}
.related li h5 {
  margin-bottom: 5px;
  margin-top: 10px;
}
